* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'louis';
    letter-spacing: 7px;
    overflow: hidden;
}

#btn {
    width: 1920px;
    height: 937px;
    border: 0;
    background-color: #fff;
    text-align: center;
    line-height: 1080px;
    cursor: pointer;
    user-select: none;
}

#main {
    width: 100%;
    height: 1080px;
    background-image: url(dddd.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div {
    position: absolute;
    color: #000;
    font-weight: bold;
    font-size: 100px;
}

.second0-2 {
    width: 100%;
    height: 100%;
    position: relative;
    transition: all 1s;
}

.second0-2 div:nth-child(1) {
    left: 616px;
    top: 280px;
}
.second0-2 div:nth-child(2) {
    left: 900px;
    top: 300px;
    transition-delay: 0.3s;
}
.second0-2 div:nth-child(3) {
    left: 1230px;    
    top: 300px;
    transition-delay: 0.6s;
}
.second0-2 div:nth-child(4) {
    left: 616px;
    top: 500px;
    transition-delay: 0.9s;
    font-size: 160px;
}

.second0-2 > div {
    visibility: hidden;
    transition: all 0.2s;
    color: transparent;
    text-shadow: 0 0 10px #000000;
}

.second3-8 {
    width: 100%;
    height: 100%;
    transition: all 4.5s;
}

.second3-8 > div {
    transition: all 0.6s;
    color: transparent;
    text-shadow: 0 0 10px #000000;
    font-size: 120px;
}

.second3-8 div:nth-child(1) {
    left: 2040px;
    top: 170px;
    transition-delay: 4s;
}
.second3-8 div:nth-child(2) {
    left: 2320px;
    top: 170px;
    transition-delay: 4.3s;
}
.second3-8 div:nth-child(3) {
    left: 2870px;    
    top: 170px;
    transition-delay: 4.7s;
}
.second3-8 div:nth-child(4) {
    left: 3070px;
    top: 170px;
    transition-delay: 4.9s;
}
.second3-8 div:nth-child(5) {
    left: 3390px;
    top: 170px;
    transition-delay: 5.2s;
}
.second3-8 div:nth-child(6) {
    left: 65px;
    top: 500px;
    font-size: 250px;
    visibility: hidden;
}

.second9-15 {
    width: 100%;
    height: 100%;
    transition: all 4.5s;
}

.second9-15 > div {
    transition: all 0.3s;
    color: transparent;
    text-shadow: 0 0 10px #000000;
}

.second9-15 div:nth-child(1) {
    top: 940px;
    font-size: 600px;
    transition-delay: 9s;
}